# Linux stuffs

*.layout
*.cbp
*.depend

bin/
build/
obj/

CMakeCache.txt
[Dd]ebug/

*.cmake

[Mm]akefile
CMakeFiles/

compile_commands.json
# Windows stuffs

# some-rpg/Debug/
.vs/

*.filters
*.user
